<login-navbar></login-navbar>

<div class="container">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 block-container tech-stack">
    <welcome-content></welcome-content>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block-container">
    <div class="well {{ signupStatus.isPending() && ' disabled-signup' }}">
      <h3 id="signup-title">Signup</h3>

      <signup-username-input></signup-username-input>

      <signup-email-input></signup-email-input>

      <signup-password-input></signup-password-input>

      <signup-password-again-input></signup-password-again-input>

      <signup-button></signup-button>
    </div>
  </div>
</div>
