.my-card-background {
  position: absolute;
  top: 0;
  width: 94%;
  left: 3%;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
  z-index: 100000;
  text-align: center;
  padding: 80px;
}

.my-card {
  padding: 20px;
  box-shadow: 0 0 10px #555;
}

.my-card-header {
  text-align: left;
  margin-bottom: 5px;
}
