<info-navbar
  [text]="'Confirm account for ' + confirmation.credential">
</info-navbar>

<div class="container">
  <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 block-container">
    <div class="well">
      <div class="user-sign">
        <span class="glyphicon glyphicon-user"></span>
      </div>

      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <input
            class="form-control"
            [(ngModel)]="confirmation.code"
            placeholder="Confirmation code"/>
        </div>
      </div>

      <div class="button-container">
        <button
          class="btn btn-success"
          [disabled]="status.isPending() || status.isSuspended()"
          (click)="attemptConfirm()">
          Confirm
        </button>
      </div>

      <div class="info-container">
        <p>
          Please be aware that you have approx. 5-10 minutes to complete this step, afterwards
          not confirmed accounts are deleted. In case you did not receive it, you can
          <button
            class="inline-text-button"
            (click)="resendRequest()">
            ask for a resend
          </button>.
        </p>
      </div>
    </div>
  </div>
</div>
