<select
  class="btn {{ _status.chosenNamespace ? 'btn-info' : 'btn-default' }} dropdown-toggle btn-block"
  [(ngModel)]="_status.chosenNamespace"
  (ngModelChange)="handleModelChange()">
  <option
    [ngValue]="null"
    hidden="true"
    [selected]="!_status.chosenNamespace">Select a namespace</option>
  <option
    *ngFor="let namespace of _status.namespaces"
    [ngValue]="namespace"
    [selected]="_status.chosenNamespace && _status.chosenNamespace.systemId == namespace.systemId">
    {{ namespace.name }}
  </option>
</select>

<input
    class="form-control"
    type="text"
    placeholder="New namespace"
    [(ngModel)]="_status.createdNamespace.name">

<button
    class="btn btn-default btn-block"
    (click)="createNamespace()"
    [disabled]="_status.isPending() || _status.isSuspended()">
    Create namespace&nbsp;
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</button>

<confirmation-modal
  *ngIf="confirmModalStatus.confirmModalIsShown && confirmModalStatus.chosenSelector=='namespace'"
  [saveFunction]="saveNamespace.bind(this)">
</confirmation-modal>
