<input
  type="password"
  class="form-control"
  [(ngModel)]="user.passwordAgain"
  placeholder="Password again"
  [disabled]="_status.isPending()">

<input-info
  *ngIf="!_status.passwordIsValid()"
  [type]="'default'"
  [text]="'Enter a valid password first'">
</input-info>

<input-info
  *ngIf="_status.passwordIsValid() && !_status.passwordMatches()"
  [type]="'default'"
  [text]="'Should match password'">
</input-info>

<input-info
  *ngIf="_status.passwordIsValid() && _status.passwordMatches()"
  [type]="'success'"
  [text]="'Matches'">
</input-info>
