<input
  type="password"
  class="form-control"
  [(ngModel)]="user.passwordAgain"
  placeholder="Password again"
  [disabled]="status.isPending()">

<input-info
  *ngIf="!status.passwordIsValid()"
  [type]="'default'"
  [text]="'Enter a valid password first'">
</input-info>

<input-info
  *ngIf="status.passwordIsValid() && !status.passwordMatches()"
  [type]="'default'"
  [text]="'Should match password'">
</input-info>

<input-info
  *ngIf="status.passwordIsValid() && status.passwordMatches()"
  [type]="'success'"
  [text]="'Matches'">
</input-info>
