<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 {{ !_status.chosenObjectToSpectate && 'scrollable-list' }}">
    <object-info *ngIf="_status.chosenObjectToSpectate"></object-info>

    <div class="field-filter btn-group">
      <select class="btn btn-{{_status.chosenField ? 'info' : 'default'}} dropdown-toggle" id="kover-button"
              [(ngModel)]="_status.chosenField">
        <option [hidden] ="true" [ngValue]="null">
          Choose a field
        </option>
        <option *ngFor="let key of structureKeys()"
                [ngValue]="key"
                [hidden]="isObjectList(parseValue(structure[key]))">
          {{ key }}
        </option>
      </select>
      <button class="btn btn-default" (click)="resetFieldFilter()">
        All&nbsp;
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
    <div class="border-container">
      <div *ngFor="let key of structureKeys()">
        <div *ngIf="isText(parseValue(structure[key])) && shouldShow(key, _status.chosenField)" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="text"
            [disabled]="(key == 'id' || key == 'Id') && _status.restriction == updateRestriction()"
            [(ngModel)]="_status.creator.data[key]">
        </div>
        <div *ngIf="isNumber(parseValue(structure[key])) && shouldShow(key, _status.chosenField)" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="number" [(ngModel)]="_status.creator.data[key]"
                 [hidden]="key != _status.chosenField">
        </div>
        <div *ngIf="isBoolean(parseValue(structure[key])) && shouldShow(key, _status.chosenField)" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="checkbox" [(ngModel)]="_status.creator.data[key]">
        </div>
        <div *ngIf="isComplex(parseValue(structure[key])) && shouldShow(key, _status.chosenField)">
          <p class="complex-name">{{ key }}</p>
          <div *ngFor="let complexTypeKey of complexTypeKeys(parseValue(structure[key]))">
            <div *ngIf="isText(complexTypeKey, parseValue(structure[key]))" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <textarea
                [disabled]="multiLanguageDisabled(complexTypeKey, key)"
                class="form-control"
                [(ngModel)]="_status.creator.data[key][complexTypeKey]"
                [rows]="showRows(complexTypeKey, key, _status.creator.data[key][complexTypeKey])">
              </textarea>
            </div>
            <div *ngIf="isNumber(complexTypeKey, parseValue(structure[key]))" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <input class="form-control" type="number" [(ngModel)]="_status.creator.data[key][complexTypeKey]">
            </div>
            <div *ngIf="isBoolean(complexTypeKey, parseValue(structure[key]))" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <input class="form-control" type="checkbox" [(ngModel)]="_status.creator.data[key][complexTypeKey]">
            </div>
          </div>
        </div>
        <hr *ngIf="!isObjectList(parseValue(structure[key])) && shouldShow(key, _status.chosenField)">
      </div>
    </div>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 scrollable-list">
    <div class="well well-sm well-flex" id="object-editor-search">
      <div>
        <div class="reference-selector">
          <select class="btn {{ _status.chosenRelation ? 'btn-info' : 'btn-default' }} dropdown-toggle btn-block"
                  [(ngModel)]="_status.chosenRelation"
                  (ngModelChange)="search(_status.editorSearchValue, _status.chosenEditorSearchParam, $event, parseValue(structure[$event]))">
            <option [hidden] ="true"
                    [ngValue]="null"
                    [selected]="!_status.chosenRelation">
              Choose a reference
            </option>
            <option *ngFor="let key of structureKeys()"
                    [hidden]="!isObjectList(parseValue(structure[key]))"
                    [ngValue]="key">
              {{ key }}
            </option>
          </select>
        </div>
        <div class="btn-group orban">
          <select id="orban-button" class="btn btn-{{_status.chosenEditorSearchParam ? 'info' : 'default'}} dropdown-toggle"
                  [(ngModel)]="_status.chosenEditorSearchParam"
                  [disabled]="!_status.chosenRelation"
                  (ngModelChange)="resetSearchValue()">
            <option [hidden] ="true" [ngValue]="null">
              Choose a search param
            </option>
            <option *ngFor="let key of referenceStructureKeys(_status.chosenRelation)"
                    [ngValue]="key"
                    [hidden]="isHiddenInner(key, _status.chosenRelation)">
              {{ key }}
            </option>
          </select>
          <button type="button"
                  class="btn btn-default"
                  (click)="resetSearch()"
                  [disabled]="!_status.chosenRelation">
            All&nbsp;
            <span class="glyphicon glyphicon-refresh" id="editor-spinner"></span>
          </button>
        </div>

        <input class="form-control"
               [(ngModel)]="_status.editorSearchValue"
               placeholder="Value"
               [disabled]="!_status.chosenRelation || !_status.chosenEditorSearchParam"
               (ngModelChange)="keyUpSearch(_status.editorSearchValue, _status.chosenEditorSearchParam, _status.chosenRelation, parseValue(structure[_status.chosenRelation]))">

        <div *ngIf="_status.chosenRelation" class="my-block">
          <button
            class="btn btn-info btn-block"
            (click)="addAll()">
            Add all
          </button>
          <button
            class="btn btn-default btn-block"
            id="btn-fix"
            (click)="deleteAll()">
            Delete all
          </button>
        </div>


      </div>
    </div>

    <div *ngFor="let key of structureKeys()">
      <div class="objects-content" *ngIf="_status.chosenRelation == key">
        <p-dataTable [value]="filteredList"
                     [rows]="10"
                     [paginator]="true"
                     [pageLinks]="10"
                     [rowsPerPageOptions]="[5,10]"
                     *ngIf="isObjectList(parseValue(structure[key]))">
          <p-column [style]="{'text-align': 'right'}">
            <ng-template pTemplate="body" let-object="rowData" >
              <div class="one-line">
                <div class="one-line-content">
                  {{ object["id"] }}
                </div>
                <div class="btn-group">
                  <button (click)="openObjectInfo(object)" class="btn btn-warning">Info&nbsp;
                    <span class="glyphicon  glyphicon-info-sign">
                    </span>
                  </button>

                  <button class="{{ isInList(object, key) ? 'btn btn-info ' : 'btn btn-default' }}"
                          (click)="toggleList(object, key)">
                    Toggle&nbsp;
                    <span class="glyphicon glyphicon-{{ isInList(object, key) ? 'check ' : 'unchecked' }}"></span>
                  </button>
                </div>
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>

</div>

<div class="row button-container">
  <button class="btn btn-info" (click)="saveObject()">Save</button>
</div>

<div *ngIf="_status.isUpdating()" class="disabled-window-background"></div>
<div *ngIf="_status.isUpdating()" class="disabled-window-message">
  <h4>Objects are currently updated</h4>
  <span class="glyphicon glyphicon-refresh" id="loading"></span>
  <p>Please wait...</p>
</div>



