<div class="scrollable-list">
  <div *ngFor="let key of structureKeys()">
    {{ key }}
    <input class="form-control" *ngIf="isText(structure[key])" type="text" [(ngModel)]="status.creator.data[key]">
    <input class="form-control" *ngIf="isNumber(structure[key])" type="number" [(ngModel)]="status.creator.data[key]">
    <input class="form-control" *ngIf="isBoolean(structure[key])" type="checkbox" [(ngModel)]="status.creator.data[key]">
    <div *ngIf="isComplex(structure[key])">
      <div *ngFor="let complexTypeKey of complexTypeKeys(structure[key])">
        &nbsp;&nbsp;&nbsp;&nbsp;{{ complexTypeKey }}
        <input class="form-control" type="text"
          *ngIf="isText(complexTypeKey, structure[key])"
          [(ngModel)]="status.creator.data[key][complexTypeKey]">
        <input class="form-control" type="number"
          *ngIf="isNumber(complexTypeKey, structure[key])"
          [(ngModel)]="status.creator.data[key][complexTypeKey]">
        <input class="form-control" type="checkbox"
          *ngIf="isBoolean(complexTypeKey, structure[key])"
          [(ngModel)]="status.creator.data[key][complexTypeKey]">
      </div>
    </div>
    <div *ngIf="isObjectList(structure[key])">
      <div *ngFor="let object of getObjects(structure[key])">
        <div>{{ getIdentification(object) }}</div>
        <button
          class="{{ isInList(object, key) ? 'btn btn-info' : 'btn btn-default' }}"
          (click)="toggleList(object, key)">
          Toggle
        </button>
      </div>
    </div>
    <hr>
  </div>

  <button class="btn btn-info" (click)="saveObject()">Save</button>

</div>
