<div class="row">
  <div class="scrollable-list col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h4>Fields</h4>
    <div class="border-container">
      <div *ngFor="let key of structureKeys()">
        <div *ngIf="isText(structure[key])" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="text" [(ngModel)]="status.creator.data[key]">
        </div>
        <div *ngIf="isNumber(structure[key])" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="number" [(ngModel)]="status.creator.data[key]">
        </div>
        <div *ngIf="isBoolean(structure[key])" class="input-group">
          <span class="input-group-addon">{{ key }}</span>
          <input class="form-control" type="checkbox" [(ngModel)]="status.creator.data[key]">
        </div>
        <div *ngIf="isComplex(structure[key])">
          <p class="complex-name">{{ key }}</p>
          <div *ngFor="let complexTypeKey of complexTypeKeys(structure[key])">
            <div *ngIf="isText(complexTypeKey, structure[key])" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <input
                [disabled]="multiLanguageDisabled(complexTypeKey, key)"
                class="form-control"
                type="text"
                [(ngModel)]="status.creator.data[key][complexTypeKey]">
            </div>
            <div *ngIf="isNumber(complexTypeKey, structure[key])" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <input class="form-control" type="number" [(ngModel)]="status.creator.data[key][complexTypeKey]">
            </div>
            <div *ngIf="isBoolean(complexTypeKey, structure[key])" class="input-group">
              <span class="input-group-addon">{{ complexTypeKey }}</span>
              <input class="form-control" type="checkbox" [(ngModel)]="status.creator.data[key][complexTypeKey]">
            </div>
          </div>
        </div>
        <hr *ngIf="!isObjectList(structure[key])">
      </div>
    </div>
  </div>

  <div class="scrollable-list col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h4>References</h4>
    <div *ngFor="let key of structureKeys()">
      <h4 *ngIf="isObjectList(structure[key])">{{ key }}</h4>
      <div *ngIf="isObjectList(structure[key])">
        <div *ngFor="let object of getObjects(structure[key])" class="one-item">
          <div>{{ getIdentification(object) }}</div>
          <button
                  class="{{ isInList(object, key) ? 'btn btn-info' : 'btn btn-default' }}"
                  (click)="toggleList(object, key)">
            Toggle
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="row button-container">
  <button class="btn btn-info" (click)="saveObject()">Save</button>
</div>

<div *ngIf="status.isUpdating()" class="disabled-window-background"></div>
<div *ngIf="status.isUpdating()" class="disabled-window-message">
  <h4>Objects are currently updated</h4>
  <p>Please wait...</p>
  <p></p>
</div>
