<select
  class="btn {{ _status.chosenVersion ? 'btn-info' : 'btn-default' }} dropdown-toggle btn-block"
  [(ngModel)]="_status.chosenVersion"
  (ngModelChange)="handleModelChange()">
  <option
    [ngValue]="null"
    hidden="true"
    [selected]="!_status.chosenVersion">Select a version</option>
  <option
    *ngFor="let version of _status.versions"
    [ngValue]="version"
    [selected]="_status.chosenVersion && _status.chosenVersion.systemId == version.systemId">
    {{ version.name }}
  </option>
</select>

<input
  class="form-control"
  type="text"
  placeholder="New version - name"
  [(ngModel)]="_status.createdVersion.name">

<input
  class="form-control"
  type="text"
  placeholder="New version - number"
  [(ngModel)]="_status.createdVersion.number">

<select
  class="btn btn-default dropdown-toggle btn-block"
  [(ngModel)]="_status.createdVersionsBaseVersion"
  (ngModelChange)="updateCreatedVersion()">
  <option
    [ngValue]="null"
    [hidden] ="true"
    [selected]="!_status.createdVersionsBaseVersion">Select base</option>
  <option
    *ngFor="let version of _status.versions"
    [ngValue]="version">
    {{ version.name }}
  </option>
</select>

<button
  class="btn btn-default btn-block"
  (click)="createVersion()"
  [disabled]="_status.isPendingCreate() || _status.isSuspended()">
  Create version&nbsp;
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</button>

<confirmation-modal
  *ngIf="confirmModalStatus.confirmModalIsShown && confirmModalStatus.chosenSelector == 'version'"
  [saveFunction]="saveVersion.bind(this)">
</confirmation-modal>
