<input
  class="form-control"
  [(ngModel)]="user.username"
  (ngModelChange)="checkUsername()"
  placeholder="Username"
  [disabled]="_status.isPending()"/>

<input-info
  *ngIf="!_status.usernameIsValid()"
  [type]="'default'"
  [text]="'10-25 characters, only letters and numbers'">
</input-info>

<input-info
  *ngIf="_status.usernameIsValid() && _status.usernameIsChecked()"
  [type]="'default'"
  [text]="'Checking...'">
</input-info>

<input-info
  *ngIf="_status.usernameIsValid() && !_status.usernameIsChecked() && !_status.usernameIsAvailable()"
  [type]="'error'"
  [text]="'Occupied'">
</input-info>

<input-info
  *ngIf="_status.usernameIsValid() && !_status.usernameIsChecked() && _status.usernameIsAvailable()"
  [type]="'success'"
  [text]="'Available.'">
</input-info>


