<button
  class="btn btn-default btn-block"
  [disabled]="!(versionStatus.chosenVersion && namespaceStatus.chosenNamespace)"
  (click)="openPopup()">
  Edit structure&nbsp;
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</button>

<div *ngIf="status.isOpen()" class="structure-creator-background" id="background"></div>

<div *ngIf="status.isOpen()" class="structure-creator-container">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
      <div class="structure-creator" id="creator">
        <div class="modal-header">
          <button escapeModal popup="structurePopup" type="button" class="close" aria-label="Close" (click)="closePopup()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Structure manager</h4>
        </div>

        <structure-manager
          *ngIf="status.isOpen()">
        </structure-manager>

      </div>
    </div>
  </div>
</div>
