.title {
  color: #555;
  text-align: center;
}

.well-flex {
  display: flex;
  justify-content: space-between;
}

.one-line-content {
  padding: 6px;
  font-weight: bold;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

#version-of-types {
  text-align: left;
}

.span-container {
  display: flex;
  justify-content: space-between;
}

#orban-button {
  margin-left: 15px;
}

#dropdown-group {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

#center-group {
  border-radius: 0;
}

#button-group {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;

}