<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <h3 class="title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      &nbsp; {{ namespaceStatus.chosenNamespace != null ? namespaceStatus.chosenNamespace.name + ' Types' : 'Types' }}
    </h3>


    <hr>

    <button
      *ngFor="let versionOfType of objectStructures()"
      (click)="chooseVersionOfType(versionOfType)"
      class="btn {{isActive(versionOfType)}} btn-block" id="version-of-types">
      <span class="span-container">
        <span>{{ versionOfType.type.name }}</span>
        <span class="glyphicon glyphicon-chevron-{{chevronDirection(versionOfType)}}"></span>
      </span>
    </button>
  </div>

  <div *ngIf="status.chosenVersionOfType" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <object-popup></object-popup>

    <h3 class="title">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      &nbsp;{{ status.chosenVersionOfType.type.name }}
    </h3>
    <hr>

    <div class="well well-flex">
      <select class="btn btn-{{status.chosenSearchParam ? 'info' : 'default'}}"
              id="dropdown-group"
              [(ngModel)]="status.chosenSearchParam">
        <option [hidden] ="true" [ngValue]="null">
          Choose a search param
        </option>
        <option *ngFor="let key of structureKeys()"
                [ngValue]="key"
                [hidden]="isObjectList(parseValue(structure[key])) || isComplex(parseValue(structure[key]))">
          {{ key }}
        </option>
      </select>
      <input class="form-control"
             [(ngModel)]="status.searchValue"
             (keyup)="search(status.searchValue, status.chosenSearchParam)"
             placeholder="Value"
             id="center-group">
      <button class="btn btn-default" (click)="resetSearch()" id="button-group">
        All&nbsp;
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button class="btn btn-default" (click)="openEditor()" id="orban-button">
        Add new {{ status.chosenVersionOfType.type.name }}&nbsp;
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>

    <p-dataTable [value]="filteredList"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="5"
                 [rowsPerPageOptions]="[5,10,20]">
      <p-column [style]="{'text-align': 'right'}">
        <ng-template pTemplate="body" let-object="rowData" >
          <div class="one-line">
            <div class="one-line-content">
              {{ object["id"] }}
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="render(object)">
                Render&nbsp;
                <span class="glyphicon glyphicon-print"></span>
              </button>
              <button class="btn btn-default" (click)="openEditor(object)">
                Edit object&nbsp;
                <span class="glyphicon glyphicon-cog"></span>
              </button>
              <button class="btn btn-danger" (click)="deleteObject(object)">
                Delete&nbsp;
                <span class="glyphicon glyphicon-erase"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>

</div>

