.title {
  color: #555;
  text-align: center;
}

.well-flex {
  display: flex;
  justify-content: space-between;
}

.one-line-content {
  padding: 6px;
  font-weight: bold;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

#version-of-types {
  text-align: left;
}

.span-container {
  display: flex;
  justify-content: space-between;
}