<h3>Boilerplate app</h3>
<p>Spring Boot - Angular 4 app with authentication.</p>
<p>
  Email confirm and password reset are both implemented, and handled with
  an (async) email sending microservice.
</p>
<p>
  Database maintence for deleting user also has a default implementation,
  and it is also decoupled from the app to a separate microservice.
</p>
<p>
  Currently uses PostgreSQL, though it is easy to change, as Spring JPA
  handles the database.
</p>
<p>
  Authentication is handled with Json Web Tokens.
</p>
