<div>
  <div class="container-box">
    <h4>Create new type</h4>
    <div class="type-editor">
      <input class="form-control" [(ngModel)]="creator.type.name" placeholder="Name (for example: offer, addon, psmcodes...) ">
      <span class="check-box-label">Object</span>
      <input class="form-control check-box" type="checkbox" [(ngModel)]="creator.type.complex">

      <span class="check-box-label">Common</span>
      <input class="form-control check-box" type="checkbox" [(ngModel)]="creator.isCommon">
    </div>
  </div>

  <div class="container-box">
    <h4>Edit structure</h4>
    <div class="scrollable-list">
      <div *ngFor="let key of getKeys(creator.structure)" class="one-field">
        <span class="one-field-content">{{ key }}</span>
        <span class="one-field-content">{{ creator.structure[key] }}</span>
        <span><button class="btn btn-danger" (click)="deleteRow(key)">Delete</button></span>
      </div>
    </div>

    <div *ngIf="status.isEdited()">
      <div class="structure-editor">
        <input class="form-control" [(ngModel)]="row.name" placeholder="Name (for example: id, price, active...)">
        <select class="btn btn-default" [(ngModel)]="row.value">
          <option disabled>Primitives:</option>
          <option *ngFor="let structure of primitiveStructures()" [ngValue]="getName(structure)">
            &nbsp;-&nbsp;{{ getName(structure) }}
          </option>
          <option disabled>Complex types:</option>
          <option *ngFor="let structure of status.complexStructures" [ngValue]="getName(structure)">
            &nbsp;-&nbsp;{{ getName(structure) }}
          </option>
          <option disabled>Objects:</option>
          <option *ngFor="let structure of status.objectStructures" [ngValue]="getName(structure) + '-list'">
            &nbsp;-&nbsp;{{ getName(structure) }}-list
          </option>
        </select>
        <button class="btn btn-info" (click)="saveRow()">Add</button>
      </div>
    </div>

    <div class="toggle-button-container">
      <button
        class="btn btn-default"
        (click)="status.toggleNewRow(!status.isEdited())">
        {{ status.isEdited() ? 'Cancel' : 'New field'}}
      </button>
    </div>
  </div>


  <button class="btn btn-info" (click)="saveStructure()">Save</button>
  <button class="btn btn-default" (click)="status.toggleEditor(false)">Cancel</button>
</div>



<!--todo nem tudom mit csináltam, de szerintem nagyon szép és jó lett! :)) -->