<div *ngIf="!status.isActive()" class="manager-container">

  <button (click)="status.activateEditor()" class="btn btn-info">
    Create new type
    <span class="glyphicon glyphicon-plus-sign"></span>
  </button>

  <structure-selector
    *ngFor="let structure of status.primitiveStrucutres"
    [type]="'primitive'"
    [structure]="structure">
  </structure-selector>

  <structure-selector
    *ngFor="let structure of status.complexStructures">
  </structure-selector>

  <structure-selector
    *ngFor="let structure of status.objectStructures">
  </structure-selector>
</div>

<structure-editor
  [editedStructure]="status.editedStructure"
  *ngIf="status.isActive()">
</structure-editor>
